<h1 style=" color:White;font-size:280%"> <center> <b> Sistema de recomendação híbrido </b> </center> </h1>

<h1> <div style="text-align:center">
    <code style="background:gainsboro;color:black;font-size:130%"> Problema
  </code> </div> </h1>

<p style="text-align:center; font-size: 120%"><i>Faça 30 recomendações de filme para o usuário cujo id é dado, usando os métodos de recomendação baseada em usuários e baseada em items</i></p>

<h1> <div style="text-align:center">
    <code style="background:gainsboro;color:black;font-size:130%"> Dataset </code> </div> </h1>

<p style="text-align:center; font-size: 120%"><i> O dataset foi fornecido pelo MovieLens, um serviço de recomendação de filmes. Ele contém as pontuações de classificação para esses filmes, juntamente com os filmes. Ele contém 2.000.0263 classificações em 27.278 filmes. Esse dataset foi criado em 17 de outubro de 2016. Inclui 138.493 usuários e dados de 09 de janeiro de 1995 a 31 de março de 2015. Os usuários são selecionados aleatoriamente. Sabe-se que todos os usuários selecionados votaram em pelo menos 20 filmes.</i></p>

<p style="font-size: 120%"><i><b>movie.csv</b></i></p>

* <p style="font-size: 110%"><i> <b>movieId:<b> </i> <i> identificador único do filme.</i></p>
* <p style="font-size: 110%"><i> <b>title:<b> </i> <i>nome do filme</i></p>
* <p style="font-size: 110%"><i> <b>genres:<b> </i> <i>gênero do filme</i></p>

<p style="font-size: 120%"><i><b>rating.csv</b></i></p>

* <p style="font-size: 110%"><i> <b>userid:<b> </i> <i> identificador único do usuário.</i></p>
* <p style="font-size: 110%"><i> <b>movieId:<b> </i> <i> identificador único do filme.</i></p>
* <p style="font-size: 110%"><i> <b>rating:<b> </i> <i> avaliação dada ao filme pelo usuário </i></p>
* <p style="font-size: 110%"><i> <b>timestamp:<b> </i> <i>data da avaliação</i></p>

<h1> <div style="text-align:center">
    <code style="background:gainsboro;color:black;font-size:130%"> Tarefas do projeto </code> </div> </h1>

In [27]:

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 500)

<h2> <code style="background:gainsboro;color:black;font-size:130%"> Recomendação baseada em usuários</code> </h2>

<code style="background:gainsboro;color:black;font-size:190%"> Tarefa 1: Preparando os dados </code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b>Ler os datasets "movie" e "rating"<b></i></p>

In [28]:
movie = pd.read_csv("movie.csv")
movie.head()

   movieId                               title                                       genres
0        1                    Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2                      Jumanji (1995)                   Adventure|Children|Fantasy
2        3             Grumpier Old Men (1995)                               Comedy|Romance
3        4            Waiting to Exhale (1995)                         Comedy|Drama|Romance
4        5  Father of the Bride Part II (1995)                                       Comedy

In [29]:
rating = pd.read_csv("ratingm.csv")
rating.head()

   userId  movieId  rating            timestamp
0       1       50     3.5  2005-04-02 23:29:40
1       1      112     3.5  2004-09-10 03:09:00
2       1      151     4.0  2004-09-10 03:08:54
3       1      293     4.0  2005-04-02 23:31:43
4       1      296     4.0  2005-04-02 23:32:47

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b>Adicione os nomes dos filmes e os gêneros dos Ids provenientes do dataset "movies" ao dataset "rating" <b></i></p>

In [30]:
df = rating.merge(movie, how="left", on="movieId")
df.head()

   userId  movieId  rating            timestamp                                              title                         genres
0       1       50     3.5  2005-04-02 23:29:40                         Usual Suspects, The (1995)         Crime|Mystery|Thriller
1       1      112     3.5  2004-09-10 03:09:00         Rumble in the Bronx (Hont faan kui) (1995)  Action|Adventure|Comedy|Crime
2       1      151     4.0  2004-09-10 03:08:54                                     Rob Roy (1995)       Action|Drama|Romance|War
3       1      293     4.0  2005-04-02 23:31:43  Léon: The Professional (a.k.a. The Professiona...    Action|Crime|Drama|Thriller
4       1      296     4.0  2005-04-02 23:32:47                                Pulp Fiction (1994)    Comedy|Crime|Drama|Thriller

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Mantenha os nomes dos filmes com menos de 1000 votos na lista e os remova do dataset<b></i></p>

In [31]:
rating_numbers = pd.DataFrame(df["title"].value_counts())
# Filmes com menos de 1000 votos
not_popular_movies = rating_numbers[rating_numbers["title"] <= 1000].index
# Escolhendo os filmes do dataframe "df" que não estão no dataframe "not_popular_movies" 
popular_movies = df[~df["title"].isin(not_popular_movies)]

popular_movies.head()

   userId  movieId  rating            timestamp                                              title                         genres
0       1       50     3.5  2005-04-02 23:29:40                         Usual Suspects, The (1995)         Crime|Mystery|Thriller
1       1      112     3.5  2004-09-10 03:09:00         Rumble in the Bronx (Hont faan kui) (1995)  Action|Adventure|Comedy|Crime
2       1      151     4.0  2004-09-10 03:08:54                                     Rob Roy (1995)       Action|Drama|Romance|War
3       1      293     4.0  2005-04-02 23:31:43  Léon: The Professional (a.k.a. The Professiona...    Action|Crime|Drama|Thriller
4       1      296     4.0  2005-04-02 23:32:47                                Pulp Fiction (1994)    Comedy|Crime|Drama|Thriller

<code style="background:gainsboro;color:black;font-size:140%"> Passo 4: </code> 
<p style="font-size: 100%"><i><b>Crie uma tabela pivô para o dataframe com os userIDs no índice, os nomes dos filmes nas colunas e o notas como valores.<b></i></p>

In [32]:
user_movie_df = popular_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

user_movie_df.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),"13th Warrior, The (1999)",1984 (Nineteen Eighty-Four) (1984),"2 Fast 2 Furious (Fast and the Furious 2, The) (2003)","20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),2010: The Year We Make Contact (1984),21 Grams (2003),25th Hour (2002),28 Days (2000),28 Days Later (2002),28 Weeks Later (2007),300 (2007),"39 Steps, The (1935)",3:10 to Yuma (2007),"40-Year-Old Virgin, The (2005)",48 Hrs. (1982),50 First Dates (2004),"6th Day, The (2000)",8 Mile (2002),8MM (1999),A.I. Artificial Intelligence (2001),AVP: Alien vs. Predator (2004),About Schmidt (2002),About a Boy (2002),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)",Adventures in Babysitting (1987),"Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)","Adventures of Priscilla, Queen of the Desert, The (1994)","Adventures of Robin Hood, The (1938)","African Queen, The (1951)","Age of Innocence, The (1993)",Air Force One (1997),Airheads (1994),Airplane II: The Sequel (1982),Airplane! (1980),Akira (1988),Aladdin (1992),Alice in Wonderland (1951),Alien (1979),...,Welcome to the Dollhouse (1995),West Side Story (1961),Westworld (1973),Whale Rider (2002),What About Bob? (1991),What Dreams May Come (1998),What Lies Beneath (2000),What Women Want (2000),What's Eating Gilbert Grape (1993),What's Love Got to Do with It? (1993),When Harry Met Sally... (1989),When We Were Kings (1996),When a Man Loves a Woman (1994),While You Were Sleeping (1995),White Men Can't Jump (1992),White Squall (1996),Who Framed Roger Rabbit? (1988),"Whole Nine Yards, The (2000)",Wild Things (1998),Wild Wild West (1999),William Shakespeare's A Midsummer Night's Dream (1999),William Shakespeare's Romeo + Juliet (1996),Willow (1988),Willy Wonka & the Chocolate Factory (1971),"Wings of Desire (Himmel über Berlin, Der) (1987)",Winnie the Pooh and the Blustery Day (1968),Witness (1985),"Wizard of Oz, The (1939)",Wolf (1994),Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)","Wrestler, The (2008)",Wyatt Earp (1994),"X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),Yellow Submarine (1968),Yojimbo (1961),You've Got Mail (1998),Young Frankenstein (1974),Young Guns (1988),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<code style="background:gainsboro;color:black;font-size:140%"> Passo 4: </code> 
<p style="font-size: 100%"><i><b>Transforme em funções todas as ações realizadas <b></i></p>

In [33]:
def data_prep():
    
    movie = pd.read_csv("movie.csv")
    rating = pd.read_csv("ratingm.csv")
    df = rating.merge(movie, how="left", on="movieId")
    
    rating_numbers = pd.DataFrame(df["title"].value_counts())
    not_popular_movies = rating_numbers[rating_numbers["title"] <= 1000].index
    popular_movies = df[~df["title"].isin(not_popular_movies)]
    
    user_movie_df = popular_movies.pivot_table(index=["userId"], columns=["title"], values="rating")
    
    return user_movie_df

<code style="background:gainsboro;color:black;font-size:190%"> Tarefa 2: Determinando os filmes assistidos pelos usuários para sugerir</code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b>Escolha um id de usuário aleatório<b></i></p>

In [34]:
random_user = int(pd.Series(user_movie_df.index).sample(1, random_state=45).values)
random_user = 50017

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b>Crie um novo dataframe chamado "random_user_df", que é composto de unidades de observação do usuário selecionado <b></i></p>

In [35]:
random_user_df = user_movie_df[user_movie_df.index == random_user]

random_user_df.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),"13th Warrior, The (1999)",1984 (Nineteen Eighty-Four) (1984),"2 Fast 2 Furious (Fast and the Furious 2, The) (2003)","20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),2010: The Year We Make Contact (1984),21 Grams (2003),25th Hour (2002),28 Days (2000),28 Days Later (2002),28 Weeks Later (2007),300 (2007),"39 Steps, The (1935)",3:10 to Yuma (2007),"40-Year-Old Virgin, The (2005)",48 Hrs. (1982),50 First Dates (2004),"6th Day, The (2000)",8 Mile (2002),8MM (1999),A.I. Artificial Intelligence (2001),AVP: Alien vs. Predator (2004),About Schmidt (2002),About a Boy (2002),Absolute Power (1997),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Adaptation (2002),Addams Family Values (1993),"Addams Family, The (1991)",Adventures in Babysitting (1987),"Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)","Adventures of Priscilla, Queen of the Desert, The (1994)","Adventures of Robin Hood, The (1938)","African Queen, The (1951)","Age of Innocence, The (1993)",Air Force One (1997),Airheads (1994),Airplane II: The Sequel (1982),Airplane! (1980),Akira (1988),Aladdin (1992),Alice in Wonderland (1951),Alien (1979),...,Welcome to the Dollhouse (1995),West Side Story (1961),Westworld (1973),Whale Rider (2002),What About Bob? (1991),What Dreams May Come (1998),What Lies Beneath (2000),What Women Want (2000),What's Eating Gilbert Grape (1993),What's Love Got to Do with It? (1993),When Harry Met Sally... (1989),When We Were Kings (1996),When a Man Loves a Woman (1994),While You Were Sleeping (1995),White Men Can't Jump (1992),White Squall (1996),Who Framed Roger Rabbit? (1988),"Whole Nine Yards, The (2000)",Wild Things (1998),Wild Wild West (1999),William Shakespeare's A Midsummer Night's Dream (1999),William Shakespeare's Romeo + Juliet (1996),Willow (1988),Willy Wonka & the Chocolate Factory (1971),"Wings of Desire (Himmel über Berlin, Der) (1987)",Winnie the Pooh and the Blustery Day (1968),Witness (1985),"Wizard of Oz, The (1939)",Wolf (1994),Wonder Boys (2000),Working Girl (1988),"World Is Not Enough, The (1999)","Wrestler, The (2008)",Wyatt Earp (1994),"X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),Yellow Submarine (1968),Yojimbo (1961),You've Got Mail (1998),Young Frankenstein (1974),Young Guns (1988),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
50017,NaN,4.5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Atribua os filmes avaliados pelo usuário selecionado a uma lista chamada "movies_watched"<b></i></p>

In [36]:
movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()

movies_watched

['10 Things I Hate About You (1999)',
 '101 Dalmatians (1996)',
 'Inception (2010)',
 'King Kong (1933)',
 'Muppet Treasure Island (1996)',
 'Running Man, The (1987)',
 'Simple Plan, A (1998)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)']

<code style="background:gainsboro;color:black;font-size:190%"> Tarefa 3: acessando dados e Ids de outros usuários que avaliaram os mesmos filmes </code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b> Selecione as colunas dos filmes assistidos pelo usuário provenientes do "user_movie_df" e crie um novo dataframe chamado "movies_watched_df" <b></i></p>

In [37]:
movies_watched_df = user_movie_df[movies_watched]

movies_watched_df.head()

title   10 Things I Hate About You (1999)  101 Dalmatians (1996)  Inception (2010)  King Kong (1933)  Muppet Treasure Island (1996)  Running Man, The (1987)  Simple Plan, A (1998)  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
userId
1                                     NaN                    NaN               NaN               NaN                            NaN                      NaN                    NaN                                        NaN
2                                     NaN                    NaN               NaN               NaN                            NaN                      NaN                    NaN                                        NaN
3                                     NaN                    NaN               NaN               NaN                            NaN                      NaN                    NaN                                        NaN
4                                     NaN                    NaN               NaN               NaN                            NaN                      NaN                    NaN                                        NaN
5                                     NaN                    NaN               NaN               NaN                            NaN                      NaN                    NaN                                        NaN

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b>Crie um novo dataframe chamado "user_movie_count", que contém informações sobre quantos filmes cada usuário assistiu. <b></i></p>

In [38]:
user_movie_count = movies_watched_df.T.notnull().sum()

user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId", "movie_count"]

user_movie_count.head()

   userId  movie_count
0       1            0
1       2            0
2       3            0
3       4            0
4       5            0

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Crie uma lista chamada "users_same_movies" composta dos IDs dos usuários que avaliaram 60% ou mais dos filmes avaliados pelo usuário selecionado<b></i></p>

In [39]:
percentage = len(movies_watched) * 60 / 100

users_same_movies = user_movie_count[user_movie_count["movie_count"] > percentage]["userId"]

users_same_movies.head()

45674    45709
49964    49999
49982    50017
62753    62812
74079    74142
Name: userId, dtype: int64

<code style="background:gainsboro;color:black;font-size:190%">Tarefa 4: Determinando os usuários a serem sugeridos e os usuários mais similares </code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b>Filtrar o dataframe "movies_watched_df" para achar os ids dos usuários na lista "user_same _movies" que são similares ao usuário selecionado <b></i></p>

In [40]:
final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                      random_user_df[movies_watched]])

final_df.head()

title   10 Things I Hate About You (1999)  101 Dalmatians (1996)  Inception (2010)  King Kong (1933)  Muppet Treasure Island (1996)  Running Man, The (1987)  Simple Plan, A (1998)  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
userId
45709                                 2.0                    1.5               3.0               4.0                            3.0                      NaN                    NaN                                        NaN
49999                                 4.0                    NaN               NaN               5.0                            NaN                      3.0                    3.0                                        3.0
50017                                 4.5                    4.0               4.0               3.5                            2.5                      4.0                    3.5                                        5.0
62812                                 3.5                    3.5               3.5               3.0                            2.0                      3.5                    NaN                                        NaN
74142                                 2.0                    1.0               5.0               NaN                            1.0                      NaN                    2.5                                        NaN

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b> Criar o novo dataframe "corr_df" onde as correlações dos usuários uns com os outros pode ser encontradas<b></i></p>

In [41]:
corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()

corr_df = pd.DataFrame(corr_df, columns=["corr"])
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df = corr_df.reset_index()

corr_df.head()

   user_id_1  user_id_2      corr
0      74142      49999 -1.000000
1      62812      49999 -0.866025
2      49999     116189 -0.500000
3      45709      50017 -0.490470
4      62812      45709 -0.432789

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Crie um novo dataframe chamado "top_users" filtrando os usuários com uma alta correlação (acima de 0.65) com o usuário selecionado.<b></i></p>

In [42]:
top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= 0.65)][["user_id_2", "corr"]].reset_index(drop=True)

top_users = top_users.sort_values(by="corr", ascending=False)

top_users.head()

   user_id_2      corr
0      62812  0.958468

<code style="background:gainsboro;color:black;font-size:140%"> Passo 4: </code> 
<p style="font-size: 100%"><i><b>Aplique um "inner join" com o dataframe "top_users" e o dataset "rating" (que seria seria a operação "inner merge" na biblioteca Pandas)   <b></i></p>

In [43]:
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)

top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')

top_users_ratings.head()

   userId      corr  movieId  rating
0   62812  0.958468        3     3.5
1   62812  0.958468        4     2.0
2   62812  0.958468       17     4.0
3   62812  0.958468       25     0.5
4   62812  0.958468       38     3.0

In [44]:
# removendo o random_user do dataset;

top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]

top_users_ratings.head()

   userId      corr  movieId  rating
0   62812  0.958468        3     3.5
1   62812  0.958468        4     2.0
2   62812  0.958468       17     4.0
3   62812  0.958468       25     0.5
4   62812  0.958468       38     3.0

<code style="background:gainsboro;color:black;font-size:190%"> Tarefa 5:Calculando a média ponderada da nota de recomendação e ficando com 5 filmes.  </code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b> Crie uma variável chamada "weighted_rating", que o produto da "corr" e do "rating" de cada usuário<b></i></p>

In [45]:
top_users_ratings["weighted_rating"] = top_users_ratings["corr"] * top_users_ratings["rating"]

top_users_ratings.head()

   userId      corr  movieId  rating  weighted_rating
0   62812  0.958468        3     3.5         3.354637
1   62812  0.958468        4     2.0         1.916935
2   62812  0.958468       17     4.0         3.833871
3   62812  0.958468       25     0.5         0.479234
4   62812  0.958468       38     3.0         2.875403

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b>Crie um novo dataframe chamado "recommendation_df" que contém o id do filme e o valor médio das avaliações ponderadas de todos os usuários para cada filme <b></i></p>

In [46]:
recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

recommendation_df.head()

         weighted_rating
movieId
3               3.354637
4               1.916935
17              3.833871
25              0.479234
38              2.875403

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Selecione filmes com uma avaliação ponderada maior que 3.5 em "recommendation_df" e as ordene pela avaliação ponderada<b></i></p>

In [47]:
recommendation_df = recommendation_df[recommendation_df["weighted_rating"] > 3.5]

recommendation_df = recommendation_df.sort_values("weighted_rating", ascending=False)

recommendation_df = recommendation_df.reset_index()

recommendation_df.head()

   movieId  weighted_rating
0     2340         4.792338
1     2891         4.792338
2    32469         4.792338
3    30822         4.792338
4     2252         4.792338

<code style="background:gainsboro;color:black;font-size:140%"> Passo 4: </code> 
<p style="font-size: 100%"><i><b>Traga os nomes dos filmes do dataset "movie" e selecione os 5 primeiros filmes para recomendar<b></i></p>

In [48]:
recommendation_df.merge(movie[["movieId", "title"]])["title"][:5]

0     Meet Joe Black (1998)
1       Happy, Texas (1999)
2    We're No Angels (1955)
3    In Good Company (2004)
4               Hero (1992)
Name: title, dtype: object

<h2> <code style="background:gainsboro;color:black;font-size:130%"> Recomendação baseada em items </code> </h2>

<code style="background:gainsboro;color:black;font-size:190%"> Tarefa 1: Faça uma recomendação baseada em items baseada no filme mais bem avaliado com a maior nota (dando preferência ao mais recente) </code>

<code style="background:gainsboro;color:black;font-size:140%"> Passo 1: </code> 
<p style="font-size: 100%"><i><b>Ler os datasets "movie" e "rating"<b></i></p>

In [49]:
movie = pd.read_csv("movie.csv")
movie.head()

   movieId                               title                                       genres
0        1                    Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2                      Jumanji (1995)                   Adventure|Children|Fantasy
2        3             Grumpier Old Men (1995)                               Comedy|Romance
3        4            Waiting to Exhale (1995)                         Comedy|Drama|Romance
4        5  Father of the Bride Part II (1995)                                       Comedy

In [50]:
rating = pd.read_csv("ratingm.csv")
rating.head()

   userId  movieId  rating            timestamp
0       1       50     3.5  2005-04-02 23:29:40
1       1      112     3.5  2004-09-10 03:09:00
2       1      151     4.0  2004-09-10 03:08:54
3       1      293     4.0  2005-04-02 23:31:43
4       1      296     4.0  2005-04-02 23:32:47

<code style="background:gainsboro;color:black;font-size:140%"> Passo 2: </code> 
<p style="font-size: 100%"><i><b> Pegue o id do filme com a maior nota dos filmes avaliados pelo usuário selecionado<b></i></p>

In [51]:
most_recent_movie_id = rating[(rating["userId"] == random_user) ].\
                            sort_values("rating", ascending=False).head(1)
most_recent_movie_id = most_recent_movie_id["movieId"][0:1].values[0]

most_recent_movie_id

32

<code style="background:gainsboro;color:black;font-size:140%"> Passo 3: </code> 
<p style="font-size: 100%"><i><b>Filtre o dataframe "user_movie_df" criado na seção "recomendação baseada em usuários" de acordo com o id do filme selecionado<b></i></p>

In [52]:
most_recent_movie_df = user_movie_df[movie[movie["movieId"] == most_recent_movie_id]["title"].values[0]]
most_recent_movie_df

userId
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
          ..
138489   NaN
138490   NaN
138491   NaN
138492   NaN
138493   NaN
Name: Twelve Monkeys (a.k.a. 12 Monkeys) (1995), Length: 138359, dtype: float64

<code style="background:gainsboro;color:black;font-size:140%"> Passo 4: </code> 
<p style="font-size: 100%"><i><b>Usando o dataframe filtrado, ache a correlação do filme selecionado com os outros filems e os ranqueie.<b></i></p>

In [53]:
item_based_recommendation = user_movie_df.corrwith(most_recent_movie_df).sort_values(ascending=False)
item_based_recommendation

title
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                1.000000
Capote (2005)                                            0.368191
Starsky & Hutch (2004)                                   0.353079
Jacob's Ladder (1990)                                    0.346808
Identity (2003)                                          0.343627
                                                           ...
George of the Jungle (1997)                             -0.102905
Richie Rich (1994)                                      -0.104233
Jingle All the Way (1996)                               -0.112330
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)   -0.114321
Police Academy 2: Their First Assignment (1985)         -0.206665
Length: 1442, dtype: float64

<code style="background:gainsboro;color:black;font-size:140%"> Passo 5: </code> 
<p style="font-size: 100%"><i><b> Mostre os 30 primeiros filmes como sugestões exceto o filme selecionado em si<b></i></p>

In [54]:
filmesRecomendados = list(item_based_recommendation[1:31].index)
print(filmesRecomendados)
print(len(filmesRecomendados))

['Capote (2005)', 'Starsky & Hutch (2004)', "Jacob's Ladder (1990)", 'Identity (2003)', 'Bananas (1971)', 'Lucky Number Slevin (2006)', 'Secret of NIMH, The (1982)', 'Matchstick Men (2003)', 'Mississippi Burning (1988)', 'Professional, The (Le professionnel) (1981)', 'Machinist, The (Maquinista, El) (2004)', 'Of Mice and Men (1992)', "Amores Perros (Love's a Bitch) (2000)", 'Seven (a.k.a. Se7en) (1995)', 'Superbad (2007)', 'Limey, The (1999)', 'Doors, The (1991)', 'City of Lost Children, The (Cité des enfants perdus, La) (1995)', 'Fisher King, The (1991)', 'Eternal Sunshine of the Spotless Mind (2004)', 'Rebecca (1940)', 'Little Big Man (1970)', "Things to Do in Denver When You're Dead (1995)", 'To Catch a Thief (1955)', 'Farewell My Concubine (Ba wang bie ji) (1993)', "Charlotte's Web (1973)", 'Jungle Book, The (1967)', 'Strangers on a Train (1951)', 'Red Violin, The (Violon rouge, Le) (1998)', 'Gattaca (1997)']
30

 <code style="background:gainsboro;color:black;font-size:140%"> Métricas </code>

In [57]:


for col in random_user_df.columns:
    
    if np.isnan(random_user_df[col][random_user]):
      
        random_user_df.drop(col, axis=1, inplace=True)


filmesVistos = list(random_user_df.iloc[0].index)
print(filmesVistos)
print(len(filmesVistos)) 

intersecao = list(set(filmesRecomendados) & set(filmesVistos))

resultados =  "Id do usuário: " + str(random_user) + " " + "número de filmes vistos: "+ str(len(filmesVistos))  + " filmes em comum com suas recomendações : " + str(len(intersecao))

output_file = "métricas_.txt"
string = resultados


with open(output_file, "a") as f:
    
    f.write(string + "\n")

print(resultados)

['10 Things I Hate About You (1999)', '101 Dalmatians (1996)', 'Inception (2010)', 'King Kong (1933)', 'Muppet Treasure Island (1996)', 'Running Man, The (1987)', 'Simple Plan, A (1998)', 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)']
8
Id do usuário: 50017 número de filmes vistos: 8 filmes em comum com suas recomendações : 0